.partnered-brands {
  margin: 4rem 0;
}
.title-small-font {
  text-align: center;
}

.brand {
  width: 120px;
  height: 80px;
  background: #fff;
  margin: 0.5rem;
  border: 2px solid rgba(240, 95, 17, 0.381);
  -webkit-box-shadow: -1px -3px 41px -22px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: -1px -3px 41px -22px rgba(0, 0, 0, 0.47);
  box-shadow: -1px -3px 41px -22px rgba(0, 0, 0, 0.47);
  border-radius: 1rem;
}

.partner-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.partner-img img {
  width: 3.5rem;
}

.slick-slide {
  margin: 10px !important;
}
