body {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
}
/*bg image*/
body::before {
	border: px solid;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../resources/images/background.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
	background-size: 100% 100%;
	z-index: -1;
}

/*navbar*/
:root {
	--green-button-color: #05a081;
	--black-button-color: #2d2c2c;
	--text-white: #fdfdfd;
}

.green-button {
	background-color: var(--green-button-color);
  }
  .black-button {
	background-color: var(--black-button-color);
  }
  
  .text-white {
	color: var(--text-white);
  }
  
  header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 999;
	height: 15vh;
	/* background-color: #ffffff; */
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.82);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0.7px);
	-webkit-backdrop-filter: blur(4.7px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  header a,
  header button {
	font-size: 12px;
	font-weight: 600;
  }
  
  header img {
	width: 11rem;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
	transform: translateY(-20px);}
/*navbar end*/

.name{
	width: 49%;
}

.container-local {
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid;*/
}

/*image slideshow*/
.carousel-item {
	display: none;
  }

  .carousel-item.active {
	display: flex;
  }

  .carousel-image {
	width: 49%; /* Set your desired image width */
	height: 12rem;
	object-fit: cover;
	margin: 0 5px 0 5px; /* Add margin to create space between images */
  }

  .carousel-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-color: #05A081;
	color: #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: opacity 0.3s;
	z-index: 1;
  }

  .carousel-arrow:hover {
	opacity: 0.8;
  }

  .carousel-arrow-left {
	left: 10px;
  }

  .carousel-arrow-right {
	right: 10px;
  }

  .carousel {
	position: relative;
  }