body {
  font-family: "Poppins", sans-serif;
}

.section-hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

main {
  height: 83vh;
  display: flex;
  justify-content: center;
}
main .hero {
  text-align: center;
  color: white;
}

.overlay {
  background-color: rgba(25, 24, 24, 0.6);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.hero-text {
  margin-top: 9rem;
}
.title-2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}
.title-1 {
  font-size: 7rem;
  font-weight: 900;
  margin: 1.5rem 0;
  line-height: 5rem;
}

.hero-desc {
  width: 50%;
  font-size: 0.8rem;
  margin: 0 auto;
}