/* START OF GENERAL STYLING */

:root {
  --green-button-color: #05a081;
  --black-button-color: #2d2c2c;
  --text-white: #fdfdfd;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, main {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.small-font {
  font-size: 12px;
  font-weight: 300;
}
.title-small-font {
  font-size: 20px;
  font-weight: 500;
}

.green-button {
  background-color: var(--green-button-color);
}
.black-button {
  background-color: var(--black-button-color);
}

.text-white {
  color: var(--text-white);
}

header {
  height: 17vh;
}

.container-local {
  width: 80%;
  margin: 0 auto;
  max-width: 1366px;
}

.explore {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.arrow {
  font-weight: bold;
  font-size: 2rem;
  animation: myanimation 15s infinite;
}

@keyframes myanimation {
  0% {
    color: #f15932;
  }
  66% {
    color: #20accb;
  }
  100% {
    color: #e3c12d;
  }
}

/* END OF GENERAL STYLING */


/* FOOTER SOCIAL MEDIA ICONS */
.footer-social-media-icons {
  width: 210px;
  height: 0;
}

.footer-social-media-icons td {
  text-align: left;
  vertical-align: top;
}

.footer-social-media-icons svg {
  width: auto;
  height: 1rem;
  padding-right: 7px;
}

/* BACKGROUND CIRCLES */
.bg-circles, .blue svg, .yellow svg, .red svg, 
.vector-red svg, .vector-blue svg, .vector-yellow svg {
  position: absolute;
  margin-top: -70px;
  z-index: -2;
}

.blue {
  float: left;
  margin: 0 100px 0 0;
}

.yellow {
  float: left;
  margin: 0 0 0 220px;
}

.red {
  float: right;
  margin: 0 0 0 694.5px;
}

  .red-trustees1 {
    float: left;
    margin: 0 0 0 -720px;
  }
  .red-trustees2 {
    float: left;
    margin: -350px 0 0 -90px;
  }
  .red-trustees3 {
    float: right;
    margin: -300px 0 0 0;
  }

.vector-red {
  float: left;
  margin: -700px 0 0 0;
}

.vector-blue {
  float: left;
  margin: 200px 0 0 0;
}

.vector-yellow {
  float: left;
  margin: 1700px 0 0 0;
}

/* DREAM ACADEMY TEXT STYLING */
.dreamacademy {
  width: 1500px;
}

.dream-desc {
  width: 800px;
  text-align: center;
}

/* TRAINING PROGRAM AND OBJECTIVES STYLING */
.training-table {
  width: 1420px;
  font-family: "Poppins", sans-serif;
}

.training {
  text-align: left;
  margin-bottom: 5px;
}

.trainingprogram {
  text-align: left;
}

.trainingobjectives {
  text-align: right;
}

/* UNITS STYLING */
.units {
  width: 1420px;
}

.unit-img, .unit-img img {
  width: 600px;
  height: 330px;
  vertical-align: middle;
  text-align: center;
  border-radius: 19px;
}

/* JOIN US STYLING */
.join-table {
  width: 100px;
  padding: 0 20px 0 20px;
}

.join-table td {
  padding-bottom: 10px;
}

.join-img, .join-img img {
  width: 618px;
  height: 312px;
  vertical-align: middle;
  text-align: center;
  border-radius: 19px;
}

/* JOIN US > Contact Details STYLING*/
.contact-table {
  width: 1175px;
}

.contact-table td {
  background-color: #20ACCB;
  height: 260px;
  width: 380px;
  text-align: center;
  vertical-align: text-top;
}

.contact-details {
  text-align: right;
  margin: 70px 27px 0 0;
  color: #FFFFFF;
}

.image-icon {
  float: left;
  padding-left: 20px;
  vertical-align: top;
  margin-top: 20px;
  color: #FFFFFF;
}

.email-icon {
  margin-left: 13px;
  margin-top: -50px;
}

.add-icon {
  margin-left: 13px;
  margin-top: -50px;
}

/* BORAD OF TRUSTEES CARDS STYLING */
.trustees-table {
  width: 100%;
}

.trustees-table td {
  padding: 27px 0 27px 0;
}

.trustees-table td img {
  height: 811px;
  width: 540px;
}

.trustees-row {
  margin-left: 5px;
  margin-right: -5px;
  margin-top: -90px;
}
  
.trustees-column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.trustees-row::after {
  content: "";
  clear: both;
  display: table;
}

/* BOARD OF TRUSTEES PROFILE STYLING */
.trustee-pic {
  width: 578px;
  height: auto;
  margin-top: 40px;
}

.trustee-pic img {
  border-radius: 19px;
}

.trustee-info p {
  width: 1100px;
  text-align: justify;
}

/* KNOW MORE STYLING */
.know-more-table {
  width: 1100px;
  text-align: center;
}

.know-more-table, .know-more-table td {
  text-align: center;
}

.know-more-table img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -80px;
  z-index: 10;
  border-radius: 100px;
  border: 10px solid black;
}

.bg-rectangle-know-more {
  width: 100%;
  height: 100px;
  z-index: -1;
}

.decor-know-more {
  width: 100%;
  height: 7px;
  z-index: -1;
  background-color: #dddddd;
}