/* START OF GENERAL STYLING */

:root {
  --green-button-color: #05a081;
  --black-button-color: #2d2c2c;
  --text-white: #fdfdfd;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.small-font {
  font-size: 12px;
}

.green-button {
  background-color: var(--green-button-color);
}
.black-button {
  background-color: var(--black-button-color);
}

.text-white {
  color: var(--text-white);
}

header {
  height: 17vh;
}

.container-local {
  width: 80%;
}
/* END OF GENERAL STYLING */


/* FOOTER SOCIAL MEDIA ICONS */
.footer-social-media-icons {
  width: 210px;
  height: 0;
}

.footer-social-media-icons td {
  text-align: left;
  vertical-align: top;
}

.footer-social-media-icons svg {
  width: auto;
  height: 1rem;
  padding-right: 7px;
}

/* BACKGROUND CIRCLES */
.bg-circles {
  position: relative;
  z-index: -1;
}

.blue {
  float: left;
  margin: 0 100px 0 0;
  z-index: -1;
}

.yellow {
  float:right;
  margin: -950px 220px 0 0;
  z-index: -1;
}

.red {
  float: right;
  margin: -950px 0 0 0;
  z-index: -1;
}